/* Setting up some useful content */
* {
    padding: 0;
    margin: 0;
}

html,body {
    height: 100%;
    width: 100%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

/* Font styles */
.header {
    width: 100%;
    text-align: center;
    font-family: Roboto, sans-serif;
    color: #e1e3ed;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 20px;
    font-size: 12px;
    letter-spacing: 2.4px;
}

.content {
    font-size: 14px;
    font-family: Roboto, sans-serif;
    letter-spacing: normal;
    font-weight: 400;
    line-height: 20px;
    align-items: center;
    overflow: hidden;
    background: #06070d;
    color: #9399b8;
}

.details {
    font-size: 12px;
    font-family: Roboto, sans-serif;
    letter-spacing: normal;
    font-weight: 400;
    line-height: 20px;
    color: #9399b8;
}

/* header/navbar styles */
header{
    padding-bottom: 45px;
    background: #0d0f1a;
}

.navbar {
    width: 100%;
    height: auto;
    min-height: 45px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    opacity: 0.95;
}

.navbar-links {
    display: flex;
    list-style: none;
}

.navbar a, .navbar-links a {
    height: 100%;
    display: flex;
    min-height: 45px;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.navbar a:hover {
    background: #0d0f1a;
    color: #e1e3ed;
}

/* main content styles */

main {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    background: #0d0f1a;
    color: #ffffff;
}

/** some generic styles for collapsible elements **/
.collapsible-container {
    display: flex;
    flex-direction: column;
    width: 45%;
    background: #9399b8;
    overflow: hidden;
    color: #0d0f1a;
    border-radius: 5px;
}

.collapsible-click {
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 1.75em;
    background: #9399b8;
    color: #0d0f1a;
    cursor: pointer;
    user-select: none;
}

.collapsible-click > img {
    height: 1em;
    width: auto;
    transition: transform .2s ease-out;
}

.collapsible-click:hover {
    background: #686f94;
}

.collapsible-content {
    display: flex;
    flex-direction: column;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

/** generic separator styles **/
.separator {
    display: flex;
    justify-content: center;
    width: 98%;
    border: 1px solid #9399b8;
}

/** styles for the top-row part : production status and ?? **/
.top-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
    padding: 15px 0;
}

/*** styles for individual pages ***/
#all-status-content, #all-maintenances-content, #all-issues-content {
    display: flex;
    flex-direction: column;
    width: 90%;
}

#prod-status-content {
    display: flex;
    flex-direction: column;
    align-items: inherit;
}

.region-status-content {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    padding: 7.5px 15px;
}

.region-status-content > img{
    height: 1em;
    width: auto;
}


/** styles for the issues row and page**/
.issues-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 15px 0;
}

.issues-row .collapsible-container {
    width: 95%;
}

#latest-issues-content {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.issue {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    color: inherit;
    padding: 15px 15px;
}

.issue:hover {
    color: #e1e3ed;
}

.issue-description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.issue-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4px;
}

#mf-check-circle, #mf-cross-s, .issue-closed, .issue-opened {
    fill: #e1e3ed;
    width: 18px;
}

/* some styles to make the page responsive */
@media screen and (max-width: 800px){
    .collapsible-container {
        width: 90%;
        margin-bottom: 16px;
    }
    .issues-row .collapsible-container{
        width: 90%;
    }
    .top-row {
        flex-direction: column;
        align-items: center;
        padding-bottom: 0;
    }
}