/* Setting up some useful content */
* {
    padding: 0;
    margin: 0;
}

html,body {
    height: 100%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

/* header content styles */
.navbar {
    box-sizing: border-box;
    padding: 0 10px 0 10px;
    display: flex;
    background: #ffffff;
    color: #191f45;
    justify-content: space-between;
    align-items: center;
}

.navbar-links {
    display: flex;
    list-style: none;
}

.navbar-item {
    display: inline-block;
    padding: 10px 10px;
    cursor: pointer;
}

.navbar-item {
    text-decoration: none;
}

.navbar-item:hover {
    background-color: #191f45;
}

.navbar-item:hover {
    color: #ffffff;
}

/* main content styles*/

main {
    padding: 16px 0 16px 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-items: stretch;
    background: #191f45;
    color: #ffffff;
}

.top-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
}

.prod-status-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 45%;
    background: #ffffff;
    color: #191f45;
    border-radius: 10px;
}

@media screen and (max-width: 800px){
    .prod-status-container {
        width: 75%;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .top-row {
        flex-direction: column;
        align-items: center;
    }
}

.collapsible-click {
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    height: 2em;
    font-size: 1.4em;
    background: #fafafa;
    color: #191f45;
    cursor: pointer;
    user-select: none;
}

.collapsible-click > img {
    height: 1em;
    width: auto;
    transition: transform .2s ease-out;
}

.collapsible-click:hover {
    background: #f2f2f2;
}

.collapsible-content {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding-left: 3px;
    overflow: hidden;
    background: #ededed;
    color: #191f45;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.region-status-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2em;
    padding: 2px 5px 2px 5px;
}

.region-status-content > img{
    height: 1em;
    width: auto;
}

/* footer content styles*/
.footer {
    display: flex;
    background: #ededed;
}